<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Login</title>
</head>
<body>
    <h1>Login to access saved Todo list!</h1>
    <form action="/login"
    method="POST">
        <label for="username" class='form-label'>Username:</label>
        <input type="text" class='form-control' name="username" id="username" placeholder="Please enter your username" required>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
</body>
</html>